// COLORS
$color-danger: #d63031;
// $color-primary: rgb(21, 238, 39);
$color-primary: #5f27cd;
$color-primary-light: #915bff;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #eee;
$color-grey-light-2: rgb(211, 211, 211);
$color-grey-light-3: #718093;
$color-grey-dark-1: #999;
$color-grey-dark-2: #414346;
$color-grey-dark-3: #333;

// Breakpoints
$bp-largest: 78.125em;
$bp-large: 59.375em;
$bp-medium: 43.75em;
